.aside {
  display: none;
  flex-direction: column;
  gap: var(--gutter);
  padding: 1.5rem;
  background-color: var(--blue);
}

.aside__block {
  width: 12rem;
  height: 8rem;
  background-color: var(--white);
}

@media (min-width: 43rem) {
  .aside {
    display: flex;
  }
}
