html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-family: var(--fontPrimary), Arial, Helvetica, sans-serif;
  background-color: var(--lightGrey);
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
