:root {
  --white: rgb(255, 255, 255);
  --black: rgb(0, 0, 0);
  --grey: rgb(202, 201, 201);
  --lightGrey: rgb(240, 235, 235);
  --cream: rgb(254, 246, 240);
  --blue: rgb(211, 236, 238);
  --fontPrimary: "publicSans";
  --fontSecondary: "cookie",
  --maxWidth: 72rem;
  --gutter: 1rem;
}

$isDesktop: 43rem;

@font-face {
  font-family: "publicSans";
  src: url("../../assets/fonts/publicSans.ttf") format("truetype");
}

